body {
	background-color: #222222;
	color: #CCCCCC;
}

.stats {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px;
}

button,
button:hover,
button:focus {
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
}