body {
	background-color: #EEEEEE;
	color: #222222;
}

a {
	color: #222222;
}
a:hover {
	color: #222222;
}

.stats {
    border-color: #222222;
}

button,
button:hover,
button:focus {
	color: #222222;
	border: 1px solid #222222;
}