body {
	background-color: #EEEEEE;
	color: #222222;
}

.stats {
    border: 1px solid #222222;
    border-radius: 4px;
    padding: 5px;
}

button,
button:hover,
button:focus {
	color: #222222;
	border: 1px solid #222222;
}