body {
	background-color: #EEEEEE;
	color: #222222;
}

.stats {
    border: 1px solid #222222;
    border-radius: 4px;
    padding: 5px;
}

button,
button:hover,
button:focus {
	color: #222222;
	border: 1px solid #222222;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}