body {
}





/* TABS */
.tabs {
    width:100%;
    display:inline-block;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
	width: 80px;
    margin:0px 2px;
    float:left;
    list-style:none;
}
	
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    transition:all linear 0.15s;
    outline: 0px;
}

.tab-links a:hover {
    text-decoration:none;
}

li.active a, li.active a:hover {
	font-weight: bold;
}
 
/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
} 
.tab {
    display:none;
}

.tab.active {
    display:block;
}





/* EVENTS */
#events {
	border-radius: 4px;
	height: 500px;
	overflow: hidden;
}





/* STATS */
.stats {
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.footer button {
	width: 150px;
	float: right;
	margin: 2px;
}